<div>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="?page=1">&laquo;</a>
    </li>
    {% for page_number in page_range %}
        {% if page_number == page_obj.paginator.ELLIPSIS %}
        <li class="page-item">
            <a class="page-link">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item {% if page_number == page_obj.number %}active{% endif %}">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
    {% endfor %}

    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
    </li>
  </ul>
</div>
