<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
<symbol id="home" viewBox="0 0 16 16">
    <path stroke="white" d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
</symbol>
<symbol id="key" viewBox="0 0 16 16">
    <path stroke="white" d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
    <path stroke="white" d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
</symbol>

<symbol id="logout" viewBox="0 0 16 16">
    <path stroke="white" fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
    <path stroke="white" fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
</symbol>
</svg>


<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark">
        <span class="navbar-toggler-icon"></span>
</button>
<div class="offcanvas offcanvas-end text-bg-primary" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
        <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Menu</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                                <a href="{% url 'scidatacontainer_db:ui-index' %}" class="nav-link" aria-current="page">
                                    <svg class="bi pe-none me-2" width="24" height="24"><use xlink:href="#home"/></svg>
                                    Home
                                </a>
                        </li>
                        <li class="nav-item">
                                <a href="{% url 'scidatacontainer_db:ui-keys' %}" class="nav-link" aria-current="page">
                                    <svg class="bi pe-none me-2" width="24" height="24"><use xlink:href="#key"/></svg>
                                    API-Keys
                                </a>
                        </li>
                        <li class="nav-item">
                                <a href="{% url 'scidatacontainer_db:ui-logout' %}" class="nav-link" aria-current="page">
                                    <svg class="bi pe-none me-2" width="24" height="24"><use xlink:href="#logout"/></svg>
                                    Logout
                                </a>
                        </li>
                </ul>
                <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" name="search" type="search" placeholder="Search..." aria-label="Search" {% if request.GET.search %}value="{{ request.GET.search }}"{% endif %}>
                        <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
        </div>
</div>
